# For CUDA version 11.3

# first apt install python3-tk python3-distutils

numpy==1.23.2
matplotlib
tensorflow==2.9.1
scipy==1.9.1
vispy
opencv_python
opencv_contrib_python
Pillow
PyYAML==6.0
pyopengltk
pypcd @ git+https://github.com/klintan/pypcd.git@144478abe12b4876567cc04cd8fc310ffa62864a

# torch must be with +cu113, otherwise by default torch1.12.1 uses CUDA10.2, which doesn't support new cuda versions
# so install with the following command
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu113

# torch==1.12.1+cu113
# torchvision==0.13.1+cu113 #+cu113
